@{
}

@model Todos

<h2>Create New Task</h2>

<form method="post">
    <div>
        <label asp-for="Task">Task:</label>
        <input asp-for="Task"/>
    </div>
    <br />
    <div>
        <label asp-for="Due_Date">Due Date:</label>
        <input asp-for="Due_Date"/>
    </div>
    <br />
    <div>
        <label asp-for="Quadrant">Quadrant:</label>
        <select asp-for="Quadrant"required>
            <option value="Quadrant1">Urgent/Important</option>
            <option value="Quadrant2">Not Urgent/Important</option>
            <option value="Quadrant3">Urgent/Not Important</option>
            <option value="Quadrant4">Not Urgent/Not Important</option>
        </select><br><br>
    </div>
    <br />
    <div>

        <input type="hidden" asp-for="TaskId"/>

        @* category *@
        <label asp-for="CategoryId">Category:</label>
        <select asp-for="CategoryId" id="CategoryId" name="Category">
            @foreach (Category c in ViewBag.Categories)
            {
                <option asp-for="CategoryId" value="@c.CategoryId">@c.CategoryName</option>
            }
        </select>
    </div>
    <br />
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>