@{
    ViewData["Title"] = "Add Task to To-Do List";
}

@model Mission08_Team4_3.Models.Todo

<h1>@ViewData["Title"]</h1>

<body>
    <form method="post">
        <input type="hidden" asp-for="TaskId"/>
        <input type="hidden" asp-for="Completed" value="0"/>

        @* Task *@
        <div>
            <label asp-for="Task">Task:</label>
            <input asp-for="Task"/>
        </div>
        <br />
         @* Date *@
        <div>
            <label asp-for="Due_Date">Due Date:</label>
            <input asp-for="Due_Date"/>
        </div>
        <br />
        @* Quadrant *@
        <div>
            <label asp-for="Quadrant">Quadrant:</label>
            <select asp-for="Quadrant"required>
                <option value="Quadrant1">Important/Urgent</option>
                <option value="Quadrant2">Important/Not Urgent</option>
                <option value="Quadrant3">Not Important/Urgent</option>
                <option value="Quadrant4">Not Important/Not Urgent</option>
            </select><br><br>
        </div>
        <br />
        <div>
            <label asp-for="CategoryId">Choose a Category:</label>
            <select asp-for="CategoryId" required>
                <option value="1">Home</option>
                <option value="2">School</option>
                <option value="3">Work</option>
                <option value="4">Church</option>
            </select><br><br>
        </div>
        <br />
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</body>