@model Mission08_Team4_3.Models.Todos

<h2>Confirm Deletion</h2>
<h3>@Model.Task, @Model.Due_Date</h3>

<form asp-controller="Home" asp-action="Delete" method="post">
    <input type="hidden" asp-for="TaskId"/>
    <button type="submit">Delete</button>
    <a class="btn btn-info" asp-controller="Home" asp-action="Quadrants">Cancel</a>
</form>
